<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.CatcouponMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Catcoupon" >
    <id column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="coupon_state" property="couponState" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="coupon_limit" property="couponLimit" jdbcType="INTEGER" />
    <result column="issued_number" property="issuedNumber" jdbcType="INTEGER" />
    <result column="use_number" property="useNumber" jdbcType="INTEGER" />
    <result column="get_time" property="getTime" jdbcType="TIMESTAMP" />
    <result column="coupon_remark" property="couponRemark" jdbcType="VARCHAR" />
    <result column="coupon_type" property="couponType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    coupon_id, coupon_name, coupon_state, begin_time, end_time, coupon_limit, issued_number, 
    use_number, get_time, coupon_remark, coupon_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from catcoupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from catcoupon
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Catcoupon" >
    insert into catcoupon (coupon_id, coupon_name, coupon_state, 
      begin_time, end_time, coupon_limit, 
      issued_number, use_number, get_time, 
      coupon_remark, coupon_type)
    values (#{couponId,jdbcType=INTEGER}, #{couponName,jdbcType=VARCHAR}, #{couponState,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{couponLimit,jdbcType=INTEGER}, 
      #{issuedNumber,jdbcType=INTEGER}, #{useNumber,jdbcType=INTEGER}, #{getTime,jdbcType=TIMESTAMP}, 
      #{couponRemark,jdbcType=VARCHAR}, #{couponType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Catcoupon" >
    insert into catcoupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="couponState != null" >
        coupon_state,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="couponLimit != null" >
        coupon_limit,
      </if>
      <if test="issuedNumber != null" >
        issued_number,
      </if>
      <if test="useNumber != null" >
        use_number,
      </if>
      <if test="getTime != null" >
        get_time,
      </if>
      <if test="couponRemark != null" >
        coupon_remark,
      </if>
      <if test="couponType != null" >
        coupon_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponState != null" >
        #{couponState,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponLimit != null" >
        #{couponLimit,jdbcType=INTEGER},
      </if>
      <if test="issuedNumber != null" >
        #{issuedNumber,jdbcType=INTEGER},
      </if>
      <if test="useNumber != null" >
        #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="getTime != null" >
        #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponRemark != null" >
        #{couponRemark,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        #{couponType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Catcoupon" >
    update catcoupon
    <set >
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="couponState != null" >
        coupon_state = #{couponState,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponLimit != null" >
        coupon_limit = #{couponLimit,jdbcType=INTEGER},
      </if>
      <if test="issuedNumber != null" >
        issued_number = #{issuedNumber,jdbcType=INTEGER},
      </if>
      <if test="useNumber != null" >
        use_number = #{useNumber,jdbcType=INTEGER},
      </if>
      <if test="getTime != null" >
        get_time = #{getTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponRemark != null" >
        coupon_remark = #{couponRemark,jdbcType=VARCHAR},
      </if>
      <if test="couponType != null" >
        coupon_type = #{couponType,jdbcType=INTEGER},
      </if>
    </set>
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Catcoupon" >
    update catcoupon
    set coupon_name = #{couponName,jdbcType=VARCHAR},
      coupon_state = #{couponState,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      coupon_limit = #{couponLimit,jdbcType=INTEGER},
      issued_number = #{issuedNumber,jdbcType=INTEGER},
      use_number = #{useNumber,jdbcType=INTEGER},
      get_time = #{getTime,jdbcType=TIMESTAMP},
      coupon_remark = #{couponRemark,jdbcType=VARCHAR},
      coupon_type = #{couponType,jdbcType=INTEGER}
    where coupon_id = #{couponId,jdbcType=INTEGER}
  </update>
</mapper>