<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.CommodityinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Commodityinfo" >
    <id column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="material_type_id" property="materialTypeId" jdbcType="INTEGER" />
    <result column="commodity_price" property="commodityPrice" jdbcType="INTEGER" />
    <result column="commodity_quantity" property="commodityQuantity" jdbcType="INTEGER" />
    <result column="commodity_label" property="commodityLabel" jdbcType="VARCHAR" />
    <result column="commodity_remark" property="commodityRemark" jdbcType="VARCHAR" />
    <result column="commodity_state" property="commodityState" jdbcType="INTEGER" />
    <result column="imgthumb" property="imgthumb" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="DetailResultMap" type="com.hsys.tea.milktea.entity.Commodityinfo" extends="BaseResultMap" >
    <collection property="commoditymaterialTypes" ofType="com.hsys.tea.milktea.entity.Commoditytype">
        <result column="amaterial_type_id" property="materialTypeId" jdbcType="INTEGER" />
	    <result column="material_type_name" property="materialTypeName" jdbcType="VARCHAR" />
	    <collection property="commoditymaterials" ofType="com.hsys.tea.milktea.entity.Commoditymaterial">
	       <result column="material_id" property="materialId" jdbcType="INTEGER" />
		   <result column="material_name" property="materialName" jdbcType="VARCHAR" />
		   <result column="material_price" property="materialPrice" jdbcType="INTEGER" />
		   <result column="material_quantity" property="materialQuantity" jdbcType="INTEGER" />
		   <result column="material_remark" property="materialRemark" jdbcType="VARCHAR" />
		   <result column="bmaterial_type_id" property="materialTypeId" jdbcType="INTEGER" />
	    </collection>
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    commodity_id, commodity_name, material_type_id, commodity_price, commodity_quantity, 
    commodity_label, commodity_remark, commodity_state, imgthumb, create_time, modify_time
  </sql>
  
  <select id="getDetailCommodityinfo" resultMap="BaseResultMap" parameterType="com.hsys.tea.milktea.entity.Commodityinfo" >
    select a.*,b.*,c.*,b.material_type_id bmaterial_type_id,c.material_type_id amaterial_type_id
    from commodityinfo a, commoditymaterial b, commoditytype c, inf_product_offering_rel d
    where a.commodity_id = d.commodity_id and b.material_id = d.material_id 
    and b.material_type_id = c.material_type_id and a.commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  
  <select id="findAllList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodityinfo
    where material_type_id = #{materialTypeId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodityinfo
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodityinfo
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Commodityinfo" >
    insert into commodityinfo (commodity_id, commodity_name, material_type_id, 
      commodity_price, commodity_quantity, commodity_label, 
      commodity_remark, commodity_state, imgthumb, 
      create_time, modify_time)
    values (#{commodityId,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{materialTypeId,jdbcType=INTEGER}, 
      #{commodityPrice,jdbcType=INTEGER}, #{commodityQuantity,jdbcType=INTEGER}, #{commodityLabel,jdbcType=VARCHAR}, 
      #{commodityRemark,jdbcType=VARCHAR}, #{commodityState,jdbcType=INTEGER}, #{imgthumb,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Commodityinfo" >
    insert into commodityinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="materialTypeId != null" >
        material_type_id,
      </if>
      <if test="commodityPrice != null" >
        commodity_price,
      </if>
      <if test="commodityQuantity != null" >
        commodity_quantity,
      </if>
      <if test="commodityLabel != null" >
        commodity_label,
      </if>
      <if test="commodityRemark != null" >
        commodity_remark,
      </if>
      <if test="commodityState != null" >
        commodity_state,
      </if>
      <if test="imgthumb != null" >
        imgthumb,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="materialTypeId != null" >
        #{materialTypeId,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null" >
        #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="commodityQuantity != null" >
        #{commodityQuantity,jdbcType=INTEGER},
      </if>
      <if test="commodityLabel != null" >
        #{commodityLabel,jdbcType=VARCHAR},
      </if>
      <if test="commodityRemark != null" >
        #{commodityRemark,jdbcType=VARCHAR},
      </if>
      <if test="commodityState != null" >
        #{commodityState,jdbcType=INTEGER},
      </if>
      <if test="imgthumb != null" >
        #{imgthumb,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Commodityinfo" >
    update commodityinfo
    <set >
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="materialTypeId != null" >
        material_type_id = #{materialTypeId,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null" >
        commodity_price = #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="commodityQuantity != null" >
        commodity_quantity = #{commodityQuantity,jdbcType=INTEGER},
      </if>
      <if test="commodityLabel != null" >
        commodity_label = #{commodityLabel,jdbcType=VARCHAR},
      </if>
      <if test="commodityRemark != null" >
        commodity_remark = #{commodityRemark,jdbcType=VARCHAR},
      </if>
      <if test="commodityState != null" >
        commodity_state = #{commodityState,jdbcType=INTEGER},
      </if>
      <if test="imgthumb != null" >
        imgthumb = #{imgthumb,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Commodityinfo" >
    update commodityinfo
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      material_type_id = #{materialTypeId,jdbcType=INTEGER},
      commodity_price = #{commodityPrice,jdbcType=INTEGER},
      commodity_quantity = #{commodityQuantity,jdbcType=INTEGER},
      commodity_label = #{commodityLabel,jdbcType=VARCHAR},
      commodity_remark = #{commodityRemark,jdbcType=VARCHAR},
      commodity_state = #{commodityState,jdbcType=INTEGER},
      imgthumb = #{imgthumb,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>
</mapper>