<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.ExpensecalendarMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Expensecalendar" >
    <id column="expense_id" property="expenseId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="expense_time" property="expenseTime" jdbcType="TIMESTAMP" />
    <result column="expense_money" property="expenseMoney" jdbcType="INTEGER" />
    <result column="payment_type" property="paymentType" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    expense_id, user_id, order_id, expense_time, expense_money, payment_type, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from expensecalendar
    where expense_id = #{expenseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from expensecalendar
    where expense_id = #{expenseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Expensecalendar" >
    insert into expensecalendar (expense_id, user_id, order_id, 
      expense_time, expense_money, payment_type, 
      remark)
    values (#{expenseId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, 
      #{expenseTime,jdbcType=TIMESTAMP}, #{expenseMoney,jdbcType=INTEGER}, #{paymentType,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Expensecalendar" >
    insert into expensecalendar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expenseId != null" >
        expense_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="expenseTime != null" >
        expense_time,
      </if>
      <if test="expenseMoney != null" >
        expense_money,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expenseId != null" >
        #{expenseId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expenseTime != null" >
        #{expenseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expenseMoney != null" >
        #{expenseMoney,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Expensecalendar" >
    update expensecalendar
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="expenseTime != null" >
        expense_time = #{expenseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expenseMoney != null" >
        expense_money = #{expenseMoney,jdbcType=INTEGER},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where expense_id = #{expenseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Expensecalendar" >
    update expensecalendar
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=BIGINT},
      expense_time = #{expenseTime,jdbcType=TIMESTAMP},
      expense_money = #{expenseMoney,jdbcType=INTEGER},
      payment_type = #{paymentType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where expense_id = #{expenseId,jdbcType=INTEGER}
  </update>
</mapper>