<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.MessagecenterMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Messagecenter" >
    <id column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="message_time" property="messageTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tombstone" property="tombstone" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    message_id, message_content, message_time, user_id, tombstone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from messagecenter
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from messagecenter
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Messagecenter" >
    insert into messagecenter (message_id, message_content, message_time, 
      user_id, tombstone)
    values (#{messageId,jdbcType=INTEGER}, #{messageContent,jdbcType=VARCHAR}, #{messageTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER}, #{tombstone,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Messagecenter" >
    insert into messagecenter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
      <if test="messageTime != null" >
        message_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tombstone != null" >
        tombstone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tombstone != null" >
        #{tombstone,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Messagecenter" >
    update messagecenter
    <set >
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageTime != null" >
        message_time = #{messageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tombstone != null" >
        tombstone = #{tombstone,jdbcType=INTEGER},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Messagecenter" >
    update messagecenter
    set message_content = #{messageContent,jdbcType=VARCHAR},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      tombstone = #{tombstone,jdbcType=INTEGER}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
</mapper>