<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.OrderdetailinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Orderdetailinfo" >
    <id column="order_detail_id" property="orderDetailId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="commodity_num" property="commodityNum" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="purchase_detail" property="purchaseDetail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_image" property="commodityImage" jdbcType="VARCHAR" />
    <result column="commodity_price" property="commodityPrice" jdbcType="INTEGER" />
    <result column="bag_id" property="bagId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_detail_id, order_id, commodity_id, commodity_num, order_time, purchase_detail, 
    create_time, commodity_name, commodity_image, commodity_price, bag_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderdetailinfo
    where order_detail_id = #{orderDetailId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderdetailinfo
    where order_detail_id = #{orderDetailId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertByBatch" parameterType="java.util.List" >
    insert into orderdetailinfo (order_detail_id, order_id, commodity_id, 
      commodity_num, order_time, purchase_detail, 
      create_time, commodity_name, commodity_image, 
      commodity_price, bag_id)
    values 
    <foreach collection="orderdetailinfos" item="item" index="index" separator=",">
		(
			#{item.orderDetailId,jdbcType=BIGINT}, #{item.orderId,jdbcType=BIGINT}, #{item.commodityId,jdbcType=INTEGER}, 
	        #{item.commodityNum,jdbcType=INTEGER}, #{item.orderTime,jdbcType=TIMESTAMP}, #{item.purchaseDetail,jdbcType=VARCHAR}, 
	        #{item.createTime,jdbcType=TIMESTAMP}, #{item.commodityName,jdbcType=VARCHAR}, #{item.commodityImage,jdbcType=VARCHAR}, 
	        #{item.commodityPrice,jdbcType=INTEGER}, #{item.bagId,jdbcType=BIGINT}
		)
     </foreach>
  </insert>
  
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Orderdetailinfo" >
    insert into orderdetailinfo (order_detail_id, order_id, commodity_id, 
      commodity_num, order_time, purchase_detail, 
      create_time, commodity_name, commodity_image, 
      commodity_price, bag_id)
    values (#{orderDetailId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{commodityId,jdbcType=INTEGER}, 
      #{commodityNum,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{purchaseDetail,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{commodityName,jdbcType=VARCHAR}, #{commodityImage,jdbcType=VARCHAR}, 
      #{commodityPrice,jdbcType=INTEGER}, #{bagId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Orderdetailinfo" >
    insert into orderdetailinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        order_detail_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="commodityNum != null" >
        commodity_num,
      </if>
      <if test="orderTime != null" >
        order_time,
      </if>
      <if test="purchaseDetail != null" >
        purchase_detail,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="commodityImage != null" >
        commodity_image,
      </if>
      <if test="commodityPrice != null" >
        commodity_price,
      </if>
      <if test="bagId != null" >
        bag_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityNum != null" >
        #{commodityNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseDetail != null" >
        #{purchaseDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityImage != null" >
        #{commodityImage,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="bagId != null" >
        #{bagId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Orderdetailinfo" >
    update orderdetailinfo
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityNum != null" >
        commodity_num = #{commodityNum,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseDetail != null" >
        purchase_detail = #{purchaseDetail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityImage != null" >
        commodity_image = #{commodityImage,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        commodity_price = #{commodityPrice,jdbcType=INTEGER},
      </if>
      <if test="bagId != null" >
        bag_id = #{bagId,jdbcType=BIGINT},
      </if>
    </set>
    where order_detail_id = #{orderDetailId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Orderdetailinfo" >
    update orderdetailinfo
    set order_id = #{orderId,jdbcType=BIGINT},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      commodity_num = #{commodityNum,jdbcType=INTEGER},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      purchase_detail = #{purchaseDetail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_image = #{commodityImage,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=INTEGER},
      bag_id = #{bagId,jdbcType=BIGINT}
    where order_detail_id = #{orderDetailId,jdbcType=BIGINT}
  </update>
</mapper>