<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsys.tea.milktea.dao.OrderinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hsys.tea.milktea.entity.Orderinfo" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="offer_num" property="offerNum" jdbcType="INTEGER" />
    <result column="store_phone" property="storePhone" jdbcType="VARCHAR" />
    <result column="coupon" property="coupon" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="order_state" property="orderState" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pickup_way" property="pickupWay" jdbcType="INTEGER" />
    <result column="shipping_fee" property="shippingFee" jdbcType="INTEGER" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="OrderinfoResultMap" type="com.hsys.tea.milktea.entity.Orderinfo" extends="BaseResultMap" >
    <association property="storeinfo" javaType="com.hsys.tea.milktea.entity.Storeinfo">
       <result column="sstore_id" property="storeId" jdbcType="INTEGER" />
	   <result column="store_name" property="storeName" jdbcType="VARCHAR" />
    </association>
    <collection property="orderdetailinfos" ofType="com.hsys.tea.milktea.entity.Orderdetailinfo">
	    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
	    <result column="commodity_image" property="commodityImage" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  
  <resultMap id="DetailOrderinfoResultMap" type="com.hsys.tea.milktea.entity.Orderinfo" extends="BaseResultMap" >
    <association property="storeinfo" javaType="com.hsys.tea.milktea.entity.Storeinfo">
       <result column="sstore_id" property="storeId" jdbcType="INTEGER" />
	   <result column="store_name" property="storeName" jdbcType="VARCHAR" />
	   <result column="store_address" property="storeAddress" jdbcType="VARCHAR" />
    </association>
    <collection property="orderdetailinfos" ofType="com.hsys.tea.milktea.entity.Orderdetailinfo">
	    <result column="order_detail_id" property="orderDetailId" jdbcType="BIGINT" />
	    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
	    <result column="commodity_num" property="commodityNum" jdbcType="INTEGER" />
	    <result column="purchase_detail" property="purchaseDetail" jdbcType="VARCHAR" />
	    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
	    <result column="commodity_image" property="commodityImage" jdbcType="VARCHAR" />
	    <result column="commodity_price" property="commodityPrice" jdbcType="INTEGER" />
	    <result column="bag_id" property="bagId" jdbcType="BIGINT" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List" >
    order_id, amount, offer_num, store_phone, coupon, create_time, order_state, store_id, 
    user_id, pickup_way, shipping_fee, address_id, remark, payment_type
  </sql>
  
  <select id="selectOrderinfo" resultMap="OrderinfoResultMap" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    select
    *
    from orderinfo a, orderdetailinfo b,storeinfo c
    where a.order_id = b.order_id and a.store_id = c.store_id and a.user_id = #{userId,jdbcType=BIGINT}
  </select>
  
  <select id="selectDeatilOrderinfo" resultMap="DetailOrderinfoResultMap" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    select 
    <include refid="Base_Column_List" />
    from orderinfo
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from orderinfo
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from orderinfo
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    insert into orderinfo (order_id, amount, offer_num, 
      store_phone, coupon, create_time, 
      order_state, store_id, user_id, 
      pickup_way, shipping_fee, address_id, 
      remark, payment_type)
    values (#{orderId,jdbcType=BIGINT}, #{amount,jdbcType=INTEGER}, #{offerNum,jdbcType=INTEGER}, 
      #{storePhone,jdbcType=VARCHAR}, #{coupon,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{orderState,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{pickupWay,jdbcType=INTEGER}, #{shippingFee,jdbcType=INTEGER}, #{addressId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    insert into orderinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="offerNum != null" >
        offer_num,
      </if>
      <if test="storePhone != null" >
        store_phone,
      </if>
      <if test="coupon != null" >
        coupon,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="pickupWay != null" >
        pickup_way,
      </if>
      <if test="shippingFee != null" >
        shipping_fee,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="offerNum != null" >
        #{offerNum,jdbcType=INTEGER},
      </if>
      <if test="storePhone != null" >
        #{storePhone,jdbcType=VARCHAR},
      </if>
      <if test="coupon != null" >
        #{coupon,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="pickupWay != null" >
        #{pickupWay,jdbcType=INTEGER},
      </if>
      <if test="shippingFee != null" >
        #{shippingFee,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    update orderinfo
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="offerNum != null" >
        offer_num = #{offerNum,jdbcType=INTEGER},
      </if>
      <if test="storePhone != null" >
        store_phone = #{storePhone,jdbcType=VARCHAR},
      </if>
      <if test="coupon != null" >
        coupon = #{coupon,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="pickupWay != null" >
        pickup_way = #{pickupWay,jdbcType=INTEGER},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=INTEGER},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsys.tea.milktea.entity.Orderinfo" >
    update orderinfo
    set amount = #{amount,jdbcType=INTEGER},
      offer_num = #{offerNum,jdbcType=INTEGER},
      store_phone = #{storePhone,jdbcType=VARCHAR},
      coupon = #{coupon,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_state = #{orderState,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      pickup_way = #{pickupWay,jdbcType=INTEGER},
      shipping_fee = #{shippingFee,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>